
<div class="col-md-1"></div>
  <div class="col-md-9 mt-5">
  <div class="jumbotron">

    <h2 class="display-3"> User Details</h2>
    <button class="btn btn-primary" (click)="addUser()"> Add User</button>
  
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Midname</th>
      <th>Surname</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.mid_name}}</td>
      <td>{{user.surname}}</td>
      <td><button class="btn btn-danger btn-sm" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-success btn-sm" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
  

</div>
</div>